@use "colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto Flex", sans-serif;
	color: $font-color;
	text-decoration: none;
	scroll-behavior: smooth;
}

body,
html {
	width: 100%;
}

body {
	background-color: $background;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header {
	width: 100%;
	background-color: $header-background;
	position: sticky;
	top: 0;
	z-index: 1000;

	.header-inner {
		min-height: 5vh;
		max-height: 10vh;
		margin: 0.5rem 1.5rem;

		display: flex;
		justify-content: space-between;

		transition: height 0.2s ease-in-out;

		& > .logo-wrapper {
			width: 2rem;
			display: flex;
			align-items: center;
			gap: 1rem;

			& > .logo-image {
				height: 100%;
			}

			& > .logo-text {
				height: fit-content;
				display: flex;
				flex-direction: column;

				font-size: 1.5rem;
				font-weight: 700;

				& > :nth-child(1) {
					color: $blue;
				}

				& > :nth-child(2) {
					color: $green;
				}
			}
		}

		& > .navigation {
			display: flex;
			gap: 1rem;
			align-items: center;
			width: fit-content;

			& > .entry {
				font-size: 1.1rem;
				font-weight: 500;
				color: $font-color;
				transition: color 0.2s ease-in-out;

				&::after {
					content: "";
					display: block;
					width: 0;
					height: 2px;
					background-color: $blue;
					transition: width 0.2s ease-in-out;
				}

				&:hover {
					color: $blue;

					&::after {
						width: 100%;
					}
				}
			}
		}
	}
}

.content {
	min-width: 60vw;

	& > * {
		scroll-margin-top: 12.5vh;
	}

	.services {
		margin: 2rem 0;

		& > .title {
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.5rem;
		}

		& > .description {
			font-size: 1.1rem;
			font-weight: 500;
			margin-bottom: 1rem;
		}

		& > .services-wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			& > .service {
				font-size: 1.2rem;
				font-weight: 500;

				// Also, show a small dot in front of the service name, to make it look like a list
				&::before {
					content: "•";
					margin-right: 0.5rem;
					color: $blue;
				}
			}
		}
	}

	.working-hours {
		margin: 2rem 0;

		& > .title {
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.5rem;
		}

		& > .hours-wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 50%;

			& > .entry {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
				font-size: 1.2rem;
				font-weight: 500;

				& > .day,
				& > .time {
					flex: 1;
				}
			}
		}
	}

	.calculator {
		margin: 2rem 0;

		& > .title {
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.5rem;
		}

		& > .description {
			font-size: 1.1rem;
			font-weight: 500;
			margin-bottom: 1rem;
		}

		& > .type {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;

			& > .description {
				font-size: 1.25rem;
				font-weight: 500;
			}

			& > .input {
				// This is the <select> element
				font-size: 1.1rem;
				font-weight: 500;
				padding: 0.5rem;
				border: 1px solid $blue;
				border-radius: 0.5rem;
				width: 100%;
			}
		}
	}

	.booking {
		margin: 2rem 0;

		& > .title {
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.5rem;
		}

		& > .description {
			display: flex;
			gap: 1rem;
			font-size: 1.1rem;
			flex-direction: column;

			& > div > a {
				// Create a pseudo element which will be the underline
				position: relative;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: $blue;
				}
			}

			& > .calender-frame {
				aspect-ratio: 1;
				outline: 1px solid $blue;
				border-radius: 0.5rem;
			}
		}
	}

	.reviews {
		margin: 2rem 0;

		& > .title {
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.5rem;
		}

		& > .description {
			font-size: 1.1rem;
			font-weight: 500;
			margin-bottom: 1rem;
		}
	}

	.contact {
		margin: 2rem 0;

		& > .title {
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.5rem;
		}

		& > .description {
			font-size: 1.1rem;
			font-weight: 500;
			margin-bottom: 1rem;
		}

		.contact-wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 50%;

			& > .entry {
				display: flex;
				flex-direction: row;
				gap: 0.5rem;
				font-size: 1.2rem;
				font-weight: 500;

				& > .title,
				& > .info {
					flex: 1;
				}
			}
		}
	}
}
